<launch>
  
  <!-- Launch the Lidar? -->
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />

  <!-- Launch RAS Group 8 Localization Node -->
  <node pkg="ras_group8_localization" type="ras_group8_localization" name="ras_group8_localization" output="screen">
    <rosparam command="load" file="$(find ras_group8_localization)/config/default.yaml" />
  </node>
  
  <node pkg="tf"
        type="static_transform_publisher"
        name="laser_broadcaster" args="0 0 0 0 0.996 -0.087 0 base_link laser 100" />

</launch>